<mat-toolbar color="primary">
  <span class="mr-auto">Parking Locator</span>
  <button
    type="button"
    [routerLink]="['/dashboard']"
    routerLinkActive="current-selected"
    mat-button
  >
    Home
  </button>
  <button
    type="button"
    [routerLink]="['/floor-plan']"
    routerLinkActive="current-selected"
    mat-button
  >
    Floor Plan
  </button>
  <button
    type="button"
    [routerLink]="['/analytics']"
    routerLinkActive="current-selected"
    mat-button
  >
    Analytics
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
